body {
   text-align: center;
   background: #b0b0af;
   text-shadow: 0px 2px 3px #cececd;
   margin-top: 100px;
   font-family: "Helvetica", "Geneva", "Arial", sans-serif;
   color: #7a7a7a;
   font-weight: bold;
   font-size: 20px;  
}

link {
	border: 10px dashed #747474;
	border-radius: 25px 25px 25px 0px;
}