body {
  background: #303030;
  font-family: Helvetica;
  color: #ffffff;
}
#leftbox {
  width: 48%;
  float:left;
  border: 2px;
  border-radius: 10px 10px 10px 10px;
  background-color: #7a7a7a;
  padding: 0px 5px 0px 5px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0px 1px 1px #111;
  
}
#rightbox {
  width:48%;
  float:right;
  border: 2px;
  border-radius: 10px 10px 10px 10px;
  background-color: #7a7a7a;
  padding: 0px 5px 0px 5px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0px 1px 1px #111;
}
