body {
  background: #303030;
  font-family: Helvetica;
  color: #ffffff;
}
#leftbox {
  width: 50%;
  float:left;
  border: 2px;
  border-radius: 10px 10px 10px 10px;
  background-color: #7a7a7a;
  padding: 5px 0px 5px 0px;
}
#rightbox {
  width:50%;
  float:right;
  border: 2px;
  border-radius: 10px 10px 10px 10px;
  background-color: #7a7a7a;
}
